{% extends "layouts/master.html" %}

{% block header %}
{{ super() }}
<style type="text/css">
    h1 { color: #336699; }

</style>
{% endblock %}

{% block content %}

<div class="container mt-5">
    <form action="{{ url_for('web_blueprint.analyze') }}" method="GET">
        <h3 class="text-center mb-3">Analyze Test Statistics of GitHub Java Projects</h3>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6 mb-3">
                <div class="mb-3">
                    <label for="url" class="form-label">Project Url</label>
                    <!--                    <input type="text" class="form-control" id="url" name="url" placeholder="GitHub Java Project Url"-->
                    <!--                           value="https://android.googlesource.com/platform/cts">-->
                    <input type="text" class="form-control" id="url" name="url" placeholder="GitHub Java Project Url"
                           value="https://github.com/bhattasuraj76/test-java">
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary mb-3">Analyze</button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}

